[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = {extras = ["rich"], version = "*"}
minizinc = "*"
pyyaml = "*"

[dev-packages]
isort = "*"
pytest = "*"
ipdb = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
